<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <h2 md-dialog-title>{{title}}</h2>
  <div md-dialog-content>
    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="project name" formControlName="name">
    </md-input-container>
    <md-input-container tainer class="full-width">
      <input mdInput type="text" placeholder="project description" formControlName="desc">
    </md-input-container>
    <app-image-list-select [useSvgIcon]="false" [cols]="6" [title]="'choose project cover image'" [items]="coverImages" formControlName="coverImg">

    </app-image-list-select>
  </div>
  <div md-dialog-actions>
    <button type="button" md-raised-button color="primary">Save</button>
    <button type="button" md-button md-dialog-close (click)="onClick()">Close</button>
  </div>
</form>
