src/main/frontend/bs-config.json
src/main/frontend/package.json
src/main/frontend/.idea/
src/main/frontend/tmp/
src/main/frontend/node_modules/
src/main/frontend/node/
src/main/frontend/.sass-cache/
src/main/frontend/dr-modules.json
src/main/frontend/.angular-cli.json
src/main/frontend/npm-shrinkwrap.json
src/main/frontend/src/environments
target/
node_modules/

*.iml
.DS_Store
