<md-list-item class="container" [@item]="widerPriority" [ngClass]= "{
  'priority-normal' : item.priority === 3,
  'priority-important' : item.priority === 2,
  'priority-emergency' : item.priority === 1
}" [app-draggable]="true" [draggedClass]="'drag-start'" (click)="onItemClick()" [dragTag]="'task-item'" [dragData]="item">

  <md-checkbox class="completion-status" color="primary" [checked]="item.completed" (click)="onClickCheck($event)"></md-checkbox>
  <div class="content" md-line  [ngClass]="{'completed' : item.completed}">
    <span [md-tooltip]="item.desc">
      {{item.desc}}
    </span>
  </div>
  <div md-line class="bottom-bar">
    <span class="due-date" *ngIf="item.dueDate">
      {{item.dueDate | date: "yy-MM-dd"}}
    </span>
  </div>
  <md-icon *ngIf="item.reminder"></md-icon>
</md-list-item>
